h1 {
    background-color: blueviolet;
}
h2{
    background-color: aqua;
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
   background-color: bisque;
    margin: 0;
    padding: 0;
}

header, nav, section, footer {
    margin: 20px;
   
}

/* Estilos del encabezado */
header {
    text-align: center;
}

/* Estilos de la navegación */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Estilos de las secciones */
section {
    margin-bottom: 40px;
}

/* Estilos del pie de página */
footer {
    text-align: center;
}

/* Estilos de los equipos */
.equipo {
    border: 10px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.equipo h3 {
    margin-top: 0;
}

.equipo p {
    margin-bottom: 0;
}



